.signup{
    width: 80vw;
    height: auto;
    border-radius: 20px;
    background-color: white;
    position: relative;
    border: 1px solid gray;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8); /* Adding box shadow */

}
.singup-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;

}
.sing-up-container{
    display: flex;
    flex-direction: column;
}
.img-content{
    background-color: antiquewhite;
    padding: 20px;
    position: relative;
    border-radius: 10px;
}
.img-content h3{
    margin-top: 2rem;
    color: rgb(167, 172, 172);
}
.img-content h1{
    margin-top: 5rem;
}
.primary-content{
  background-color: rgb(98, 98, 170); 
  margin-top: 4rem; 
  margin-bottom: 2rem;
  border-radius: 5px;
  padding: 18px;
  color: white;
}
.image-login{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-content: center;
     margin-top: 20px;
     
}
.image-face{
    background-image: url(../../assets/hero3.webp);
    width: 1.9rem;
    height: 1.9rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    border-radius: 100%;
    padding: 5px;
}
.sing-up-container{
    padding: 50px;
    padding-right: 30px;
    position: relative;
}
label{
    color: gray;
    margin-bottom: 3px;
}
.sing-up-container input{
    outline: none;
    height: 2.5rem;
    margin-bottom: 2rem;
    border-radius: 5px;
    padding: 15px;
    border: none;
    border: .3px solid rgb(151, 141, 141);
}
.button-login{
    outline: none;
    height: 2.5rem;   
    border-radius: 5px;
    background-color: rgb(53, 53, 239);
    border: none;
    color: white;
}
.green-label{
    position: absolute;
    color: green;
    right: 2rem;
    bottom: 13.2rem;
}
.blue-button{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: blue;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blue-button div{
    width: 5px;
    height: 5px;
    background-color: white;
    border-radius: 100%;
}
.sing-up-close{
    width: 30px;
    height: 30px;
    background-color: red;
    color:white;
    position:absolute;
    border: none;
    top:-7px;
    right: -7px;
    border-radius: 100%;
}
.button-login:active{
    background-color: rgb(34, 168, 212);
}
@media (max-width: 768px) {
    .signup {
        width: 90%;
        height: auto;
        border-radius: 20px;
        background-color: white;
        position: relative;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8); /* Adding box shadow */
        padding: 30px;
    }
    
    .singup-container {
        display: grid;
        grid-template-columns: 1fr;
        padding: 25px;
    }

    .sing-up-container {
        display: flex;
        flex-direction: column;
        padding: 60px;
        padding-right: 40px;
        font-size: 3.5rem;
    }

    .img-content {
        background-color: antiquewhite;
        padding: 30px;
        position: relative;
        border-radius: 10px;
    }

    .img-content h3 {
        margin-top: 2.5rem;
        color: rgb(167, 172, 172);
        font-size: 2.5rem;
    }

    .img-content h1 {
        margin-top: 6rem;
        font-size: 4rem;
    }

    .primary-content {
        background-color: rgb(98, 98, 170);
        margin-top: 5rem;
        margin-bottom: 2.5rem;
        border-radius: 8px;
        font-size: 3.5rem;
        padding: 4rem;
        color: white;
    }

    .image-login {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        margin-top: 30px;
    }

    .image-login h6 {
        font-size: 2.5rem;
    }

    .image-face {
        background-image: url(../../assets/hero3.webp);
        width: 7rem;
        height: 7rem;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        object-fit: cover;
        margin: 15px;
        border-radius: 100%;
        padding: 5px;
    }

    label {
        color: gray;
        margin-bottom: 5px;
        font-size: 3rem;
    }

    .sing-up-container input {
        outline: none;
        height: 6.5rem;
        margin-bottom: 2.5rem;
        border-radius: 8px;
        padding: 20px;
        border: 0.3px solid rgb(151, 141, 141);
        font-size: 3rem;
    }

    .button-login {
        outline: none;
        height: 6.5rem;
        border-radius: 8px;
        background-color: rgb(53, 53, 239);
        border: none;
        color: white;
        font-size: 3.5rem;
    }

    .green-label {
        position: absolute;
        color: green;
        right: 2rem;
        bottom: 15rem;
        display: none;
        font-size: 2rem;
    }

    .blue-button {
        position: absolute;
        width: 30px;
        height: 30px;
        background-color: blue;
        border-radius: 5px;
        display: flex;
        font-size: 32rem;
        justify-content: center;
        align-items: center;
    }

    .blue-button div {
        width: 7px;
        height: 7px;
        background-color: white;
        border-radius: 100%;
    }

    .sing-up-close {
        width: 90px;
        height: 90px;
        background-color: red;
        color: white;
        position: absolute;
        font-size: 2.5rem;
        border: none;
        top: -30px;
        right: -30px;
        border-radius: 100%;
    }

    .button-login:active {
        background-color: rgb(34, 168, 212);
    }
}
