.popular-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: auto;
    padding: 50px;
}

.card-popular {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;
    justify-content: center;
    align-items: center;

}

.popular-container hr {
    width: 30%;
    height: 5px;
    background-color: black;
    margin: 1rem;
}

.popular-container h1 {
    margin-top: 3rem;
}
.add-2rem{
    margin-top: 2rem;
}

@media (max-width:768px) {


    .card-popular {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        width: 100%;
        place-items: center; /* Centers both horizontally and vertically */

        padding: 2rem;
    }

    .popular-container h1 {
        text-align: center;
        font-size: .8rem;
        margin-top: 1.5rem;
    }

    .popular-container hr {
        text-align: center;
        height: 3px;
        width: 50%;
        background-color: black;
        margin-bottom: 0rem;
        margin-top: .3rem;
    }
    .add-2rem{
        margin-top: 0rem;
    }
}