*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.login-body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
button{
  cursor: pointer;
}

@media (max-width:768px) {

  .login-body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2570px;
    font-size: 2rem;
  }
}