.offer-container{
    display: flex;
    justify-content: center;
}

.offer-banner{
    display: grid;
    margin-top: 100px;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 500px;
    background: linear-gradient(to bottom right, #ffb6c1 15%, #ffffff);
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8); /* Adding box shadow */


}
.offer-banner-text{
    margin-top: 5%;
    padding-left: 10%;
}
.offer-banner-text button{
    font-size: 2rem;
    background-color: red;
    border: none;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 250px;
    padding: 15px;
    border-radius: 30px;
    margin-top: 1rem;
}
.offer-banner-img{
    background-image: url(../../assets/vecteezy_young-woman-announcing-with-megaphone-red-apron_52854962.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}